@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/site.css">
    <span class="Hospi">Hospi</span> 
    <span class="Anim">Anim</span> 
    <br><br>
    <h1 class = titulo1>¿Qué es HospiAnim?</h1> 
    <body>Es un aplicación web por el cual podremos gestionar un proceso de hospitalización a nuestras mascotas.</body>
</div>
